#heading {
    text-align: center;
    margin: 100px;
}

.button {
    border: 1px solid purple;
    background-color: white;
    margin: 20px auto;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-size: 18px;
    color: purple;
}

