.reviewCard{
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 10px;
  width: 80%;
  height: 60%;
  background-color: white;
}

.easy-medium-hard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.btn-success{
  background-color:#32b643; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}
.btn-warning{
  background-color:#ffb700; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}

.btn-error{
  background-color:#e85600; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}
.btn-primary{
    background-color:#5755d9; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.notes {
  margin: 20px auto 0 auto;
  text-align: center;
}

.no-card {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60%;
    background-color: #5755d9;
}

.no-card h2 {
  color: white;
}